.panel-heading:hover {
    background-color: #a7a7c2;
}

.panel-title {
    color: #313172;
}

.panel-title:hover {
    color: #313172;
}

.banner-logo {
    height: 6em;
    max-height: 6em;
    max-width: 100%;
}
