body
{
min-width:1000px;
font-family:helvetica, sans-serif;
}
.header
{ 
background-color:#0000CC;
}

div.logo
{ 
margin:1em;
vertical-align:top;
display:inline-block;
}

div.address
{ 
margin:.2em;
display:inline-block;
color:#ffff33;
font-size:1.3em;
}
div.name
{
margin-right:1em;
float:right;
color:#ffff33;
text-align:right;
}
.menu
{ 

}
.menu_item
{ 

}
.content
{ 

}
.footer
{ 

}